<configuration>
  <system.webServer>

    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogv" />
      <mimeMap fileExtension="." mimeType="text/html" />
    </staticContent>
    <rewrite>
        <rules>
            <rule name="Force HTTPS" enabled="true">
                <match url="(.*)" ignoreCase="false" />
                <conditions>
                <add input="{HTTPS}" pattern="off" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
                appendQueryString="true" redirectType="Permanent" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>

</configuration>